<app-navigation-menu></app-navigation-menu>
<div class="card">
    <div class="card-header text-center">
        <h1>CONSULTING AGREEMENT</h1>
    </div>
</div>
<div class="card-body">
    <div class="container-fluid">
        <div style="text-align:center">

            <table width="100%" align="center">
                <tr>
                    <p>THIS AGREEMENT (hereinafter referred to as the “Agreement”) is made by and between the Board of
                        Regents
                        of the University System of Georgia, by and on behalf of Kennesaw State University (hereinafter
                        referred
                        to as “KSU”), whose principal place of business is 1100 S Marietta Parkway, Marietta, GA 30060,
                        and
                        <mat-form-field appearance="fill">
                            <mat-label>Company Name</mat-label>
                            <input matInput id="textfield1" [(ngModel)]=" textfield1" name="textfield1">
                        </mat-form-field>
                        (hereinafter referred to as “Company”, whose principal place of business is located at
                        <mat-form-field appearance="fill">
                            <mat-label>Company Location</mat-label>
                            <input matInput id="textfield2" [(ngModel)]=" textfield2" name="textfield2">
                        </mat-form-field>.
                    </p>

                    <p>Whereas, the KSU desires to provide consulting services to COMPANY as described herein, the
                        parties agree
                        as follows:
                        <br>
                        NOW, THEREFORE in consideration of the mutual covenants and promises contained
                        herein, the parties agree as follows:
                        <br><br>
                        <b>1. Services.</b> KSU agrees to perform for COMPANY the services set forth in the Statement of
                        Work
                        section of Exhibit A, which is attached hereto and hereby incorporated by reference. Such
                        services are
                        hereinafter referred to as the "Services." No other services shall be performed unless this
                        Agreement is
                        amended in writing and signed by both parties.
                        <br><br>

                        <b>2. Payment.</b> The COMPANY shall pay KSU the amount of
                        <mat-form-field appearance="fill">
                            <mat-label>Payment Amount</mat-label>
                            <input matInput placeholder="Payment Amount" id="textfield3" [(ngModel)]=" textfield3"
                                name="textfield3">
                        </mat-form-field>
                        for Services in accordance with the
                        Payment Schedule contained in Exhibit A within thirty (30) days after receipt of KSU's invoice.
                        <br><br>

                        <b>3. Independent Contractor.</b>
                        <br>
                        &nbsp;&nbsp;a. KSU is an independent contractor and shall not be deemed to be an employee of the
                        COMPANY. The COMPANY is hereby contracting with KSU for the Services, and KSU reserves the right
                        to
                        determine the method, manner and means by which the Services will be performed.
                        <br>
                        &nbsp;&nbsp;b. Neither party has the authority to bind the other to any third person or
                        otherwise to act
                        in any way as the representative of the other, unless otherwise expressly agreed to in a writing
                        signed
                        by both parties.
                        <br><br>


                        <b>4. Term.</b> The term of this Agreement shall be as set forth in Exhibit A attached hereto.
                        <br><br>

                        <b>5. Termination.</b> Either party may terminate this agreement without cause with thirty (30)
                        days
                        written notice to the other party.
                        <br><br>

                        <b>6. Assignment.</b> KSU shall not assign or subcontract the whole or any part of this
                        Agreement
                        without the COMPANY’s prior written consent.
                        <br><br>

                        <b>7. Intellectual Property Rights.</b> COMPANY agrees that all patentable or copyrightable
                        ideas,
                        writings, drawings, inventions, designs, parts, machines, processes, computer software (together
                        with
                        any related documentation source code or code, object codes, upgrades, revisions, modifications,
                        and any
                        related materials) developed as a result of or in the course of, the Services rendered to the
                        Company by
                        KSU, or any employee, agent, or subcontractor of KSU, during the term of this Agreement shall be
                        the
                        property of the COMPANY. The COMPANY does not grant any license to KSU to use any intellectual
                        property
                        developed under this Agreement.
                        <br><br>

                        <b>8. Use of Name and Marks.</b> The parties agree that they will not use the name, the logos,
                        or the
                        marks of the other party without first obtaining written permission from the other party.
                        <br><br>

                        <b>9. Applicable Law.</b> This Agreement shall be governed by the laws of the State of Georgia.
                        <br><br>

                        <b>10. Notice.</b> Any notice, payment, or other communications to the parties shall be
                        addressed as
                        follows:
                        <br>
                        Company:
                        <mat-form-field appearance="fill">
                            <mat-label>Company Name</mat-label>
                            <input matInput id="textfield4" [(ngModel)]=" textfield4" name="textfield4">
                        </mat-form-field>
                        <br>
                        Address:
                        <mat-form-field appearance="fill">
                            <mat-label>Company Address</mat-label>
                            <input matInput id="textfield5" [(ngModel)]=" textfield5" name="textfield5">
                        </mat-form-field>
                        <br>
                        KSU: Dr. Jon A Preston
                        <br> Interim Dean, College of Computing and Software Engineering
                        <br>
                        Address: Kennesaw State University
                        <br> 1100 S Marietta Parkway
                        <br> Marietta, GA 30060<br><br>

                        <b>11. Entire Agreement.</b> This Agreement constitutes the entire agreement between the parties
                        with
                        respect to the subject matter. This Agreement may be amended, but only upon advance mutual
                        written
                        agreement by the parties.
                        <br><br>

                        IN WITNESS WHEREOF the parties have executed this Agreement on the date last written below.<br>
                        AGREED TO BY: <br><br>

                        Board of Regents of the University<br>
                        System of Georgia, by and on behalf of<br>
                        Kennesaw State University (KSU)<br><br>
                    </p>
                </tr>
            </table>
            <table width="50%" align="center">
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Signature</mat-label>
                            <input matInput id="textfield6" [(ngModel)]=" textfield6" name="textfield6">
                        </mat-form-field>
                    </td>
                    <!-- The below line needs to be removed when I figure out the right way to right align the text-->
                    <td>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Signature</mat-label>
                            <input matInput id="textfield7" [(ngModel)]=" textfield7" name="textfield7">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        Printed Name: Dr. Jon A Preston
                    </td>
                    <td>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Printed Name: </mat-label>
                            <input matInput id="textfield8" [(ngModel)]=" textfield8" name="textfield8">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        Title: Interim Dean, CCSE
                    </td>
                    <td>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Title: </mat-label>
                            <input matInput id="textfield9" [(ngModel)]=" textfield9" name="textfield9">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date : 1/24/2018
                    </td>
                    <td>

                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Date: </mat-label>
                            <input matInput id="textfield10" [(ngModel)]=" textfield10" name="textfield10">
                        </mat-form-field>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>